<div class="container">
    <form name="form">
        <h1 class="col-sm-12">format</h1>
        <p class="col-sm-12 help-block">Diretiva para formatação de campo de moeda adicionando "." e "," no texto a medida
            que é digitado.</p>

        <p class="col-sm-4">
            <input type="text" id="moeda"
                   name="moeda" class="form-control" placeholder="10.000,00"
                   data-ng-model="moeda"
                   format>
        </p>

        <div class="clearfix"></div>
        <hr>
    </form>

</div>