<p class="label-rounded-blue">Directives</p>
<ul>
    <li>
        <a href="#/card-profile">Card Profile</a>
    </li>
    <li>
        <a href="#/card-colors">Card Colors</a>
    </li>
    <li>
        <a href="#/dragdrop">Drag Drop</a>
    </li>
    <li>
        <a href="#/valid-date">Form Validate Date</a>
    </li>
    <li>
        <a href="#/valid-phone">Form Validate Phone (BR)</a>
    </li>
    <li>
        <a href="#/form-currency">Form Formating Currency (BR)</a>
    </li>
    <li>
        <a href="#/angular-easy-loading">Angular Easy Loading</a>
    </li>
    <li>
        <a href="#/angular-easy-popover">Angular Easy Popover</a>
    </li>
    <li>
        <a href="#/thr-slideshow">Slideshow</a>
    </li>
    <li>
        <a href="#/thr-pdf-viewer">Pdf viewer/reader</a>
    </li>
</ul>
