<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <div class="header">
            <h2>thr-pdf-viewer example</h2>
        </div>
        <hr>
        <div class="body">
            <ul>
                <li>
                    <p class="inline-block">Click on the icon to see an amazing pdf!</p>&nbsp;
                    <i class="disable-select fa fa-file-pdf-o fa-lg"
                    ng-click="pdfViewer.open('Amazing pdf!', 'https://thr0wn.github.io/thr-pdf-viewer/test.pdf')"></i>
                </li>
            </ul>
            <thr-pdf-viewer accessor="pdfViewer"></thr-pdf-viewer>
        </div>
    </div>
</div>