<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <div class="header">
            <h2>thr-slideshow example</h2>
        </div>
        <hr>
        <div class="body">
            <ul>
                <li>
                    <p class="inline-block">thr-slideshow is invoked via thrSlideshow service, thus your controller must have it as a dependency.</p>
                </li>
                <li>
                    <p class="inline-block">As an example, a click on the following icon will call thrSlideshow.show</p>&nbsp;
                    <i class="disable-select fa fa-photo fa-lg" ng-click="openSlideShow()"></i>
                </li>
            </ul>
            <thr-slideshow></thr-slideshow>
        </div>
    </div>
</div>